@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla:wght@700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --gradient-clr-nav: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  --gradient-clr-btn: linear-gradient(90deg, #711F8D 1.18%, #A818DA 100%);
  --form--clr-input: #0D0D0D;
  --text-clr: #FFF;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
}