.nav-container {
  display: flex;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.31em;
  background: var(--gradient-clr-nav);
  color:var(--text-clr)
}

.nav-logo {
  display: flex;
  font-family: "Karla", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.1em;
}

.logo-img {
  width: 1.875rem;
}

.logo-text {
  margin: 0 .25em;
}

.nav-title {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}
