.form {
    display: grid;
    grid-template: 50% 50% / 1fr 1fr;
    margin: 2.25em;
    color: var(--form--clr-input);
    gap: 1em;
}


.inputs {
    margin-bottom: 1em;    
}

input {
    width: 100%;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    padding: .625em;
    color: var(--form-clr-input);
}



button {
    grid-column: 1 /-1;
    background: var(--gradient-clr-btn);
    padding: .625em;
    color: var(--text-clr);
    border-radius: 5px;
    border: 0;
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    letter-spacing: -0.08rem;
    cursor: pointer;
}